*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Other
target/
natives/
.settings
.classpath
.project/
bin/
client/
src/main/java/cursevoicelib/LocalMainTest.java
